.navbar{
    height: 80px;
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left{
            display: flex;
            align-items: center;
            gap: 25px;
            .item{
                display: flex;
                align-items: center;
                font-size: 18px;
            }
        }
        .center{
            font-size: 30px;
            letter-spacing: 2px;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;
             .item{
                display: flex;
             }
            .icons{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                color: #777;
                cursor: pointer;
                .cartIcon
                    {
                        position: relative;
                            span{
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                color: white;
                                width: 20px;
                                height: 20px;
                                right: -10px;
                                top: -16px;
                                position: absolute;
                                background-color: #2879fe;
                                justify-content: center;
                        }
              }
            }
        }
    }
}
    